<script setup lang="ts">
import { ref } from 'vue'
import { RbApi } from '../api/v1'
import { Section } from '../models'

let sections = ref([])

let api = new RbApi()
await api.sections().then(res => {
  sections.value = res
})

</script>

<template>
  <div>
  <p>yeet</p>
    <ul>
      <li v-for='section in sections'>
        {{ section }}
      </li>
    </ul>
  </div>
</template>
